@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cool-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 800px;
  background: #5fc082;
  color: white;
  font-weight: 300;
  font-size: 106px;
  -webkit-transition: all 4s ease;
  z-index: 1;
  overflow: hidden;
}
.cool-container.upcoming {
  z-index: 2;
  -webkit-transform: translateY(-100%);
}
.cool-container.showing {
  -webkit-transform: translateY(0%);
}
.cool-container.showing.transition-out {
  -webkit-transform: translateY(100%);
}

.cool-wrap {
  position: relative;
  top: 50%;
  display: inline-block;
  padding: 26px 36px;
  border-radius: 20px;
  -webkit-transition: all 4s ease;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2), 2px 2px 0 rgba(0, 0, 0, 0.2), 3px 3px 0 rgba(0, 0, 0, 0.2), 4px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(550%);
}
.cool-container.showing .cool-wrap {
  -webkit-transform: translateY(-50%);
}
.cool-container.showing.transition-out .cool-wrap {
  -webkit-transform: translateY(-600%);
}
